{{- if and .Values.persistence.enabled (not .Values.persistence.existingClaim) (eq .Values.mode "cluster") }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "pressured.fullname" . }}
  labels:
    {{- include "pressured.labels" . | nindent 4 }}
  {{- with .Values.persistence.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  accessModes:
    {{- toYaml .Values.persistence.accessModes | nindent 4 }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  {{- if .Values.persistence.storageClass }}
  {{- if (eq "-" .Values.persistence.storageClass) }}
  storageClassName: ""
  {{- else }}
  storageClassName: {{ .Values.persistence.storageClass | quote }}
  {{- end }}
  {{- end }}
{{- end }}
