{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "pressured.serviceAccountName" . }}
  labels:
    {{- include "pressured.labels" . | nindent 4 }}
  {{- $annotations := .Values.serviceAccount.annotations | default dict }}
  {{- if and .Values.storage.enabled (eq .Values.storage.backend "s3") .Values.storage.s3.irsaRoleArn }}
  {{- $annotations = merge $annotations (dict "eks.amazonaws.com/role-arn" .Values.storage.s3.irsaRoleArn) }}
  {{- end }}
  {{- if $annotations }}
  annotations:
    {{- toYaml $annotations | nindent 4 }}
  {{- end }}
automountServiceAccountToken: true
{{- end }}
